# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Max Research\Franka-Max\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
